//==============================
// GOWIN FPGA - SIMPLE PINOUT IO CONSTRAINTS
// BOARD      : SIPEED TANG PRIMER 25K 
// FPGA       : GW5A-LV25MG121NC1/10
// DEVICE VER : A (DEFAULT)
// CLOCK      : 50MHz ONBOARD CRYSTAL
// NOTES:
//   - Please define clk, led_done, led_ready.
//   - Project -> Configuration -> Dual-Purpose Pin:
//        clk        -> Use CPU as regular IO
//        led_done   -> Use DONE as regular IO
//        led_ready  -> Use READY as regular IO
//==============================

//============ CLOCK INPUT ============
IO_LOC "clk" E2;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;

//============ BUTTON INPUT ============
//IO_LOC "buttonS2" H10;
//IO_PORT "buttonS2" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;
//IO_LOC "buttonS1" H11;
//IO_PORT "buttonS1" IO_TYPE=LVCMOS33 PULL_MODE=DOWN BANK_VCCIO=3.3;

//============ LED OUTPUT ============
IO_LOC "led_ready" E8;
IO_PORT "led_ready" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
//IO_LOC "led_done" D7;
//IO_PORT "led_done" IO_TYPE=LVCMOS33 PULL_MODE=NONE DRIVE=8 BANK_VCCIO=3.3;
